body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.marker {
  transform: translate(-50%, -100%);
}

.popup {
  width: 40vw;
  padding: 1rem;
}

.popup img {
  width: 100%;
  object-fit: cover;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.marker.red path {
  fill: #f05305;
}

.marker.yellow path {
  fill: #f3B73E;
}

.entry-from label,
.entry-from input,
.entry-from textarea,
.entry-from button {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  display: block;
  width: 100%;
}

.error {
  color: #f05305;
}
